.sec_one, .story, .glass {
  position: relative;
}

.particle-container {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.particle-container-bottom {
  right: 0;
  bottom: 0%;
}

.particle, .particle-1 {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  width: 100px;
  height: 100px;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(34vw, 19vh, 7px);
  }
}

@keyframes particle-animation-2-1 {
  100% {
    transform: translate3d(76vw, 324vh, 56px);
  }
}

.particle:nth-child(1) {
  animation: particle-animation-1 5s infinite alternate;
  opacity: 0.96;
  transform: translate3d(77vw, 43vh, 76px);
}

.particle-1:nth-child(1) {
  animation: particle-animation-1 10s infinite alternate;
  opacity: 0.27;
  transform: translate3d(7vw, 55vh, 79px);
}

.particle-2:nth-child(1) {
  animation: particle-animation-1 10s infinite alternate;
  opacity: 0.28;
  transform: translate3d(29vw, 359vh, 98px);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(67vw, 27vh, 68px);
  }
}

@keyframes particle-animation-2-2 {
  100% {
    transform: translate3d(67vw, 23vh, 41px);
  }
}

.particle:nth-child(2) {
  animation: particle-animation-2 5s infinite alternate;
  opacity: 0.52;
  transform: translate3d(22vw, 44vh, 94px);
}

.particle-1:nth-child(2) {
  animation: particle-animation-2 10s infinite alternate;
  opacity: 0.52;
  transform: translate3d(2vw, 297vh, 11px);
}

.particle-2:nth-child(2) {
  animation: particle-animation-2 10s infinite alternate;
  opacity: 0.56;
  transform: translate3d(75vw, 208vh, 38px);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(50vw, 3vh, 74px);
  }
}

@keyframes particle-animation-2-3 {
  100% {
    transform: translate3d(87vw, 97vh, 31px);
  }
}

.particle:nth-child(3) {
  animation: particle-animation-3 5s infinite alternate;
  opacity: 0.83;
  transform: translate3d(45vw, 8vh, 14px);
}

.particle-1:nth-child(3) {
  animation: particle-animation-3 10s infinite alternate;
  opacity: 0.94;
  transform: translate3d(35vw, 162vh, 47px);
}

.particle-2:nth-child(3) {
  animation: particle-animation-3 10s infinite alternate;
  opacity: 0.78;
  transform: translate3d(26vw, 196vh, 10px);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(45vw, 51vh, 39px);
  }
}

@keyframes particle-animation-2-4 {
  100% {
    transform: translate3d(4vw, 172vh, 63px);
  }
}

.particle:nth-child(4) {
  animation: particle-animation-4 5s infinite alternate;
  opacity: 0.47;
  transform: translate3d(69vw, 60vh, 41px);
}

.particle-1:nth-child(4) {
  animation: particle-animation-4 10s infinite alternate;
  opacity: 0.5;
  transform: translate3d(9vw, 142vh, 83px);
}

.particle-2:nth-child(4) {
  animation: particle-animation-4 10s infinite alternate;
  opacity: 1;
  transform: translate3d(83vw, 9vh, 37px);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(35vw, 55vh, 43px);
  }
}

@keyframes particle-animation-2-5 {
  100% {
    transform: translate3d(38vw, 136vh, 12px);
  }
}

.particle:nth-child(5) {
  animation: particle-animation-5 5s infinite alternate;
  opacity: 0.47;
  transform: translate3d(1vw, 100vh, 66px);
}

.particle-1:nth-child(5) {
  animation: particle-animation-5 10s infinite alternate;
  opacity: 0.38;
  transform: translate3d(24vw, 58vh, 26px);
}

.particle-2:nth-child(5) {
  animation: particle-animation-5 10s infinite alternate;
  opacity: 0.22;
  transform: translate3d(38vw, 64vh, 84px);
}

@media only screen and (max-width: 600px) {
  .particle, .particle-1, .particle-2 {
    height: 50px;
    width: 50px;
  }
  .info_img {
    order: 1;
  }
  .info_content {
    order: 2;
  }
  #info p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left !important;
    margin-bottom: 20px;
  }
  #hire_me {
    margin-bottom: 20px;
  }
  .glass {
    width: 95vw;
    padding: 10px;
  }
  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  nav ul li a {
    font-size: 14px;
  }
  .footer {
    padding-top: 50px;
    height: auto;
  }
}
/*# sourceMappingURL=bg-animation.css.map */